.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

branch02
  background-color: #276f95;

  background-color: #2d5bb6;
main

  background-color: #0d4bc6;
main
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

 branch02
  color: rgb(174, 217, 0);

  color: rgb(255, 255, 255);
main

  color: rgba(21, 221, 145, 0.988);
main
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
